{% extends 'base.html' %}
{% import 'forms.html' as form_macros %}
{% block head %}
    {{ super() }}
    <link href="/static/less/glDatePicker/glDatePicker.pixed.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/less/markitup/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/less/markitup/set_style.css" />
{% endblock %}

{% block title %}Pixed: Admin{% endblock %}

{% block content %}
    {% if flags['admin'] %}
        {% for form in forms %}
            {{ form_macros.new_form(form) }}
        {% endfor %}
        {{ error }}
    {% else %}
        <p>You do not have admin permissions for this site.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/glDatePicker.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.markitup.js"></script>
    <script type="text/javascript">
        mySettings = {
            onShiftEnter:  	{keepDefault:false, replaceWith:'<br />\n'},
            onCtrlEnter:  	{keepDefault:false, openWith:'\n<p>', closeWith:'</p>'},
            onTab:    		{keepDefault:false, replaceWith:'    '},
            markupSet:  [
                {name:'Bold', key:'B', openWith:'(!(<strong>|!|<b>)!)', closeWith:'(!(</strong>|!|</b>)!)' },
                {name:'Italic', key:'I', openWith:'(!(<em>|!|<i>)!)', closeWith:'(!(</em>|!|</i>)!)'  },
                {name:'Stroke through', key:'S', openWith:'<del>', closeWith:'</del>' },
                {separator:'---------------' },
                {name:'Link', key:'L', openWith:'<a href="[![Link:!:http://]!]"(!( title="[![Title]!]")!)>', closeWith:'</a>', placeHolder:'Your text to link...' },
                {separator:'---------------' },
                {name:'Clean', className:'clean', replaceWith:function(markitup) { return markitup.selection.replace(/<(.*?)>/g, "") } },
                {name:'Preview', className:'preview',  call:'preview'}
            ]
        };

        $(document).ready(function() {
            $('.datepicker').glDatePicker({cssName: 'pixed'});
            $(".editor").markItUp(mySettings);
        });

    </script>
{% endblock %}