{% extends 'base.html' %}

{% block title %}Pixed: Freebies{% endblock %}

{% block precontent %}
<div class="hero-unit logo hidden-phone">
    <div class="row">
        <div class="span5 cta">
            <h1>Free from Pixed</h1>
            <p class="tj">Free resources from Pixed help you make your classroom more tech-friendly. Download them all, distribute them to your friends and colleagues, and use them however you want!</p>
        </div>
        <div class="span5">
            <img src="/static/img/pie.png" alt="Pixed Freebies" class="flexible" />
        </div>
    </div>
</div>
<div class="hero-unit logo visible-phone">
    <div class="row">
        <div class="span5">
            <img src="/static/img/pie.png" alt="Pixed Freebies" class="flexible" />
        </div>
        <div class="span5 cta">
            <h1>Free from Pixed</h1>
            <p class="tj">Free resources from Pixed help you make your classroom more tech-friendly. Download them all, distribute them to your friends and colleagues, and use them however you want!</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span5">
        <h1 id="TeacherToolkit" class="anchor"><a href="/static/downloads/Pixed-Teacher-Toolkit.pdf">Pixed Teacher Toolkit</a></h1>
        <div class="tj">
            <p><strong>Updated December 2012</strong></p>
            <p>The <a href="/static/downloads/Pixed-Teacher-Toolkit.pdf">Pixed Teacher Toolkit</a> provides product recommendations for educators looking to maximize technology in the classroom. In addition to helping you decide what to buy in many categories like desktops, laptops, tablets, and printers, the Teacher Toolkit also recommends some great software and indispensable Internet services to streamline the classroom. It's the perfect starter kit for the <a href="/pixed/">Pixed newsletter</a>!</p>
            <p>I've filled the Teacher Toolkit with personal recommendations of items that have made the biggest impact in my district plus recommendations for teachers with additional needs outside what we have encountered.</p>
            <p>The Pixed Teacher Toolkit is a free ebook in PDF format. It works great on a tablet!</p>
        </div>
    </div>
    <div class="span5 hidden-phone">
        <a href="/static/downloads/Pixed-Teacher-Toolkit.pdf"><img src="/static/img/toolkit-tease.jpg" class="tease"/></a>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    document.onload(setActive('#freebiesNav'))
</script>
{% endblock %}