{% extends 'base.html' %}
{% block precontent %}
<div class="hero-unit logo">
    <div class="row">
        <div class="span5 cta tj">
            <h1>Have questions?</h1>
            <p>If you need some help, you've come to the right place. Please browse the common questions. If you still have an issue, <a href="/contact/">send it my way</a>.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <h2>Common Questions</h2>
    <h3>Pixed</h3>
        <ul>
            <li><a href="#howMuchIsIt">How much is it?</a></li>
            <li><a href="#whyShouldIPayForIt">Why should I pay for it?</a></li>
            <li><a href="#howOftenDoesPixedComeOut">How often does Pixed come out?</a></li>
            <li><a href="#howMuchContentIsInAnIssue">How much content is in an issue?</a></li>
            <li><a href="#howDidPixedComeAbout">How did Pixed come about?</a></li>
            <li><a href="#howCanIWriteForPixed">How can I write for Pixed?</a></li>
            <li><a href="#howDoICancel">How do I cancel my subscription?</a></li>
        </ul>
    <h3>Slices</h3>
        <ul>
            <li><a href="#howOftenDoesSlicesComeOut">How often does Slices come out?</a></li>
            <li><a href="#howMuchContentIsInSlices">How much content is in an issue?</a></li>
            <li><a href="#howCanISuggestASiteForInclusionInSlices">How can I suggest a site for inclusion in Slices?</a></li>
        </ul>
    <h3>Charity</h3>
        <ul>
            <li><a href="#whichCharityWillReceiveDonations">Which charity will receive donations?</a></li>
            <li><a href="#howMuchMoneyIsDonated">How much money is donated?</a></li>
            <li><a href="#whyWasTheCurrentCharitySelected">Why was the current charity selected?</a></li>
            <li><a href="#whyDonateToACharityAtAll">Why donate to a charity at all?</a></li>
        </ul>
    <h3>The Author</h3>
       <ul>
           <li><a href="#whatBusinessDoesTheAuthorHave">What business does the author have telling us how to use our tech?</a></li>
       </ul>

    <h1 class="anchor">Pixed</h1>

    <h3 id="howMuchIsIt" class="anchor">How much is it?</h3>
    <p>Pixed is reasonably priced at $10 per year. If you break it down by the issue, it's a paltry 38 cents each.</p>

    <h3 id="whyShouldIPayForIt" class="anchor">Why should I pay for it?</h3>
    <p>It's hard to swallow paying for information in the time of the Internet, but good content is worth paying for.</p>
    <p>You'll get writing about technology that doesn't put you to sleep. (I'm a firm believer you catch more flies with honey than with boring technical documents and dry step-by-step procedures.) After all, it doesn't matter that the information is freely available if you can't quickly decipher it and put it into practice in your classroom.</p>
    <p>You'll get an image-rich presentation excites your senses. Nobody wants to stare at a wall of text. Human beings want to see images. It also helps get you through some of those tougher procedures to be able to reference images as well as textual steps.</p>
    <p>You'll get an attention to detail you don't find in the information some guy threw up on his blog. Layouts have been carefully designed and put together just for Pixed by me. I'm not using some newsletter template. Everything is tailor-made for Pixed readers.</p>

    <h3 id="howOftenDoesPixedComeOut" class="anchor">How often does Pixed come out?</h3>
    <p>Pixed comes out every other week. If you subscribe for a year, you will receive 26 issues.</p>

    <h3 id="howMuchContentIsInAnIssue" class="anchor">How much content is in an issue?</h3>
    <p>Each issue covers a single topic and contains a single large article or 2-3 smaller ones. The word count for a single issue will typically hit between 1000 and 1500 words &mdash; just right to fit snugly in your inbox.</p>
        
    <h3 id="howDidPixedComeAbout" class="anchor">How did Pixed come about?</h3>
    <p>Pixed is the third iteration of my technology newsletter although this is the first time it has been available to the public. It started a couple of years ago after my boss suggested I write a regular news letter to keep teachers in our district informed on changes coming from IT and also to educate them about how to do some basic troubleshooting and use their equipment.</p>
    <p>It launched to a good bit of fanfare, and I had continued to roll them out every other week. Budgets are getting tight and many projects such as my newsletter are feeling the crunch. Rather than discontinue it, I decided to continue it in my own time and take it to a wider audience.</p>

    <h3 id="howCanIWriteForPixed" class="anchor">How can I write for Pixed?</h3>
    <p>Check out my all-purpose <a href="/contact/">contact form</a>.</p>

    <h3 id="howDoICancel" class="anchor">How do I cancel my subscription?</h3>
    <ol><li>Log into your Amazon account by visiting <a href="https://payments.amazon.com/">https://payments.amazon.com/</a>.</li>
    <li>Click on <em>Your Account</em>.</li>
    <li>Click the <em>Edit My Account Settings</em> link.</li>
    <li>Select <em>Manage my payment authorizations</em>.</li>
    <li>Click <em>Details</em> to select the authorization that you want to view or cancel.<br>
    <img src="http://help.mailchimp.com/img/editamazonpayments.jpg" class="KB_image" alt="revoke authorizations" width="826" height="429">
    <li>You will receive a cancellation notice on the email address tied to your Amazon account, letting you know that any recurring payments have been cancelled.</li></ol>
        
    <h1 class="anchor">Slices</h1>

    <h3 id="howOftenDoesSlicesComeOut" class="anchor">How often does Slices come out?</h3>
    <p>Like Pixed, Slices comes out every two weeks.</p>

    <h3 id="howMuchContentIsInSlices" class="anchor">How much content is in an issue?</h3>
    <p>Slices includes a cool link along with a description which tells you more about it and/or how to use it. It's short &mdash; probably 200-300 words. You'll also get a tease of the contents of that week's Pixed.</p>

    <h3 id="howCanISuggestASiteForInclusionInSlices" class="anchor">How can I suggest a site for inclusion in Slices?</h3>
    <p>Send it my way using the <a href="/contact/">contact form</a>.</p>

    <h1 class="anchor">Charity</h1>

    <h3 id="whichCharityWillReceiveDonations" class="anchor">Which charity will receive donations?</h3>
    <p>My first charity will be the National Multiple Sclerosis Society. I'm planning to switch charities periodically. I will post both here and on the homepage at such a time that occurs. Subscribers will also receive notification in the newsletter.</p>

    <h3 id="howMuchMoneyIsDonated" class="anchor">How much money is donated?</h3>
    <p>Subscribers pay $10 for a year of Pixed. Amazon takes a small fee from that to process the payment. After that fee, 10% of the remainder is donated to the current charity.</p>

    <h3 id="whyWasTheCurrentCharitySelected" class="anchor">Why was the current charity selected?</h3>
    <p>Many fantastic people suffer with multiple sclerosis, but, for me, the face of MS is my wife. She's a selfless individual who makes my life wonderful and restores my faith in humanity on a daily basis.</p>

    <h3 id="whyDonateToACharityAtAll" class="anchor">Why donate to a charity at all?</h3>
    <p>As individuals, our lives get better as the world around us improves. It's important to remember that and not get lost in the day-to-day struggle of reaching that next personal milestone.</p>
    <p>In addition to that principal, I was inspired by Chris Guillebeau's <a href="http://chrisguillebeau.com/3x5/a-brief-guide-to-world-domination/" target=_new class="title">A Brief Guide to World Domination</a>. If you're interested in living an extraordinary life, I highly recommend you give it a read.</p>

    <h1 class="anchor">The Author</h1>

    <h3 id="whatBusinessDoesTheAuthorHave" class="anchor">What business does the author have telling us how to use our tech?</h3>
    <p>My name is Devon Campbell, and I am a computer technician for a school system in rural Tennessee. I've been at it for five years now. My favorite part of the job is finding solutions for teachers in the classroom.</p>
    <p>I stay on top of hardware and software on my own time. When I hear about a challenge a teacher needs to overcome, I usually have some idea how it might be solved with tech. In my own life, I'm constantly looking for tech-based solutions to problems.</p>
    <p>Besides that, I started doing a tech newsletter here in the district and found I had a knack for conveying this information in a way that was fun and easily digestible. Now, I want to bring that to a larger audience, make some money, and do some good in the process.</p>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    document.onload(setActive('#helpNav'))
</script>
{% endblock %}