{% extends 'base.html' %}

{% block title %}Pixed: Subscribe to Pixed{% endblock %}

{% block precontent %}
<div class="hero-unit logo hidden-phone">
    <div class="row">
        <div class="span5 cta">
            <h1>Ready for Pixed?</h1>
            <p class="tj">Pixed is ready for you! Use the form below to start your subscription. Once your signup is complete, you'll receive the next released issue. I will donate 10% of the proceeds to charity.</p>
            <h2>Next Issue</h2>
            <div class="tj">
                <p>{{ next_issue }}</p>
            </div>
        </div>
        <div class="span5">
            <img src="/static/img/logo.png" alt="Pixed: Your pixel education delivered!" class="flexible" />
        </div>
    </div>
</div>
<div class="hero-unit logo visible-phone">
    <div class="row">
        <div class="span5">
            <img src="/static/img/logo.png" alt="Pixed: Your pixel education delivered!" class="flexible" />
        </div>
        <div class="span5 cta">
            <h1>Ready for Pixed?</h1>
            <p class="tj">Pixed is ready for you! Use the form below to start your subscription. Once your signup is complete, you'll receive the next released issue. I will donate 10% of the proceeds to charity.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span5">
            <p>26 issues packed with information to help you get the most out of your classroom tech, e-mailed directly to your inbox for $10 per year. Try out the <a href="http://us6.campaign-archive2.com/?u=8c90f267855ba07f0a5ee028f&id=c555c9f10d" target=_blank class="openInWindow">sample issue</a> to learn about recording a classroom podcast. 10% of the proceeds go to the <a href="http://www.nationalmssociety.org/" target=_blank>National Multiple Sclerosis Society</a>. Sign up today and you will receive the next released issue. Use the form below to start your subscription.</p>
            <form action="http://pixed.us6.list-manage.com/subscribe/post?u=8c90f267855ba07f0a5ee028f&id=a46baaaf4e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="mc-field-group">
                    <label for="mce-EMAIL" class="hidden">E-mail address</label><input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="E-mail address"> <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Subscribe</button>
                </div>

                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
            </form>
            <p>Are you short on cash or just not ready to commit to the Pixed subscription? If so, take a look at the <a href="/slices/">free Slices newsletter</a> and the <a href="/freebies/">Freebies section</a>! Pixed will still be here whenever you're ready.</p>
        </div>
        <div class="span5 hidden-phone">
            <a href="http://us6.campaign-archive2.com/?u=8c90f267855ba07f0a5ee028f&id=c555c9f10d" target=_blank class="openInWindow"><img src="/static/img/newsletter-tease.jpg" class="tease" alt="Screenshot of the Pixed newsletter" style="margin-top: 0;"/></a>
        </div>
    </div>
{% endblock %}