{% extends 'base.html' %}

{% block precontent %}
<div class="hero-unit logo hidden-phone">
    <div class="row">
        <div class="span5 cta tj">
            <h1>Ready for Pixed?</h1>
            <p>Pixed will soon be ready for you. Sign up below to start receiving the Slice right away. You will receive a notification when I start taking signups for Pixed. At that time, pay $10 to receive a year of Pixed. I will donate 10% of the proceeds to charity.</p>
        </div>
        <div class="span5">
            <img src="/static/img/logo.png" alt="Pixed: Your pixel education delivered!" class="flexible" />
        </div>
    </div>
</div>
<div class="hero-unit logo visible-phone">
    <div class="row">
        <div class="span5">
            <img src="/static/img/logo.png" alt="Pixed: Your pixel education delivered!" class="flexible" />
        </div>
        <div class="span5 cta tj">
            <h1>Ready for Pixed?</h1>
            <p>Pixed will soon be ready for you. Sign up below to start receiving the Slice right away. You will receive a notification when I start taking signups for Pixed. At that time, pay $10 to receive a year of Pixed. I will donate 10% of the proceeds to charity.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <p>26 issues directly to your inbox for $10. Delivery begins January 4th, 2013. Sign up below to be notified when Pixed is about to launch and to begin receiving the Slice right away.</p>
    <form action="http://pixed.us6.list-manage.com/subscribe/post?u=8c90f267855ba07f0a5ee028f&id=8263114162" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc-field-group">
            <label for="mce-EMAIL" class="hidden">E-mail address</label><input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="E-mail address"> <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Subscribe</button>
        </div>

        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
    </form>
{% endblock %}
