{% extends 'base.html' %}
{% block precontent %}
<div class="hero-unit logo hidden-phone">
    <div class="row">
        <div class="span5 cta tj">
            <h1>Welcome to Pixed!</h1>
            <p>Your subscription will begin soon. If you subscribed to Pixed, you'll begin receiving Slices immediately. You'll start receiving Pixed on the day it launches &mdash; January 4th, 2013.</p>
            <a href="/" class="btn btn-primary btn-large">Pixed Home</a>
        </div>
        <div class="span5">
            <img src="/static/img/logo.png" alt="Pixed: Your pixel education delivered!" class="flexible" />
        </div>
    </div>
</div>
<div class="hero-unit logo visible-phone">
    <div class="row">
        <div class="span5">
            <img src="/static/img/logo.png" alt="Pixed: Your pixel education delivered!" class="flexible" />
        </div>
        <div class="span5 cta">
            <h1>Welcome to Pixed!</h1>
            <p>Your subscription will begin soon. If you subscribed to Pixed, you'll begin receiving Slices immediately. You'll start receiving Pixed on the day it launches &mdash; January 4th, 2013.</p>
            <a href="/" class="btn btn-primary btn-large">Pixed Home</a>
        </div>
    </div>
</div>
{% endblock %}
